Footer {
    /* position: absolute;
    bottom: 0; */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #0C4160;
}

Footer div {
    color: rgba(255, 255, 255, 0.2);
    font-weight: lighter;
}

a {
   text-decoration: none;
   color: rgba(216, 216, 216, 0.4);
   font-weight: normal;
}

@media screen and (max-width:1060px) {
    Footer {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    Footer {
        font-size: 8vw;
    }
}
