Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

Footer div {
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
}

a {
   text-decoration: none;
   color: rgb(85, 85, 85);
   font-weight: normal;
}