.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 3px solid black;
    animation: loading 1s linear infinite normal;
}

.dot_s {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: 3px solid black;
    animation: loading 1s linear infinite reverse;
}

.loadingText {
    opacity: 1;
    font-size: 12px;
    animation: fading 1s linear infinite alternate;
}

@keyframes loading {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fading {
    100% {
        opacity: 0.2;
    }
}