nav {
    margin-bottom: 30px;
    background-color: rgb(48, 47, 47);
    color: #ccc;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

nav .logo {
    position: relative;
    left: 0;
    top:0;
    margin-left: 50px;
    /* flex-basis: 122px; */
    text-align: left;
}


.menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 24px;
}


.menu ul li{
    float: left;
}

.menuOption {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.menuOption:hover {
    background-color: rgb(61, 61, 61);
    color:orange;
}

@media screen and (max-width:1060px) {
    nav {
        margin: 0;
    }
    .navWrapper {
        width: 100%;
    }

    .menu ul {
        font-size: 18px;
    }

    nav .logo {
        margin-left: 30px;
        font-size: 20px;
        /* flex-basis: 122px; */
        text-align: left;
    }

}

@media screen and (max-width:640px)
{
    nav .logo {
        margin-left: 15px;
        font-size: 16px;
    }

    .menu ul {
        font-size: 16px;
    }
}

@media screen and (max-width:480px)
{
    nav .logo {
        margin-left: 12px;
        font-size: 12px;
    }

    .menu ul {
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    .navWrapper .logo {
        font-size: 3vw;
    }

    .menu ul {
        font-size: 8vw;
    }

}   