.result {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: 2px auto;
    padding: 10px;
    color: white;
    background-color: #0f5177;
}

.trashInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 60px;
    width: 100%;
    padding-left: 60px;
    font-size: 18px;
}

.trashInfos img {
    height: 30px;
}

.detailInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    min-height: 30vh;
    width: 100%;
    padding: 0;
    font-size: 18px;
}

.leftInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-left: 20px;
    font-size: 64px;
}

.tempPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 40%;
}

.weatherWrapper {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0 10px;
    font-weight: bold;
    flex-basis: 60%;
    font-size: 36px;
    width: 100%;
}

.weatherDetails {
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

.weatherParam {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 5px 20px 5px 0;
    font-size: 18px;
     width: 100%;
}

.weatherParam p:first-of-type{
    margin-bottom: 2px;
    color: gray;
}

.weatherParam p:nth-child(2){
    text-align: left;
    font-weight: bold;
}

.leftInfo h4 {
    font-weight: lighter;
}

.leftInfo img {
    height: 150px;
}

.rightInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    text-align: left;
    border-left: 2px solid white;
    padding-left: 20px;
}

.rightInfo div:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

.result > h4 {
    padding: 10px;
}

.errorMessage {
    margin: 30px;
    font-size: 46px;
    color: crimson;
}

@media screen and (max-width:1500px) {
    .weatherParam {
        font-size: 16px;
    }
}

@media screen and (max-width:1360px)
{
    .weatherParam {
        font-size: 14px;
    }
}

@media screen and (max-width:1280px) 
{
    .trashInfos {
        justify-content: center;
        padding: 0;
        font-size: 28px;
    }

    .detailInfo {
        flex-direction: column;
        justify-content: space-around;
    }

    .leftInfo {
        padding: 0;
    }

    .rightInfo {
        flex-direction: row;
        margin-top: 20px;
        padding-top: 20px;
        width: 100%;
        border-top: 2px solid white;
        border-left: none;
    }

    .weatherWrapper {
        align-items: center;
    }

    .weatherWrapper h3 {
       margin-bottom: 10px;
    }

    .weatherDetails {
       flex-direction: row;
       align-content: center;
       align-items: center;
       width: 100%;
    }

    .weatherParam {
        padding: 0;
        margin: 0;
        width: 33%;
        align-items: center;
    }
}

@media screen and (max-width:1060px) {
    .trashInfos {
        font-size: 22px;
    }

    .leftInfo {
       width: 100%;
    }

    .leftInfo {
        flex-direction: column;
        align-items: center;
    }

    .tempPanel {
        font-size: 100px;
    }

    .tempPanel img {
        height: 240px;
    }

    .weatherWrapper {
        align-self: center;
        width: 100%;
    }

    .weatherWrapper h3 {
        font-size: 72px;
    }

    .weatherDetails .weatherParam {
        width: 100%;
    }

    .weatherDetails .weatherParam p:nth-child(1){
        padding: 20px;
        font-size: 28px;
        height: 70px;
        line-height: 30px;
    }

    .weatherDetails .weatherParam p:nth-child(2){
        font-size: 24px;
    }
}

@media screen and (max-width:780px) {
    .weatherDetails{
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .weatherDetails .weatherParam p:nth-child(1){
        font-size: 38px;
    }

    .weatherDetails .weatherParam p:nth-child(2){
        width: 100%;
        text-align: center;
        font-size: 42px;
    }

    .rightInfo {
        flex-direction: column;
        align-items: center;
       text-align: center;
       padding: 0;
    }

    .weatherParam {
        padding: 10px 0;
        font-size: 42px;
        width: 100%;
    }
}

@media screen and (max-width:640px) {

    .trashInfos {
        font-size: 14px;
    }
    .result {
        width: 100%;
    }
    
    .tempPanel {
        font-size: 80px;
    }
    .tempPanel img {
        height: 150px;
    }
    
}

@media screen and (max-width:480px) {

    .tempPanel img {
        height: 100px;
    }

}